.nav-box {
  padding: 70px 42px;
  margin-top: 40px;
  background: $color-light;
  color: #ffffff;
}

.link-box {
  // position: relative;
  padding: 0;
  border: 2px solid #ffffff;
  height: 120px;
  font-family: $font-header;
  
}
.link-box-btn{
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  z-index: 1
}

.link-box img{
  border-radius: 4px;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%
}
.link-text{
  @include center; 
  font-weight: $font-bold;
  letter-spacing: -0.65px;

.open-hours-box {
  margin-top: 5px;
  height: 120px;
  font-family: $font-header;
  font-weight: $font-bold;
  letter-spacing: -0.65px;
  border-radius: 4px;
  background-color: $color-main;
}

.open-hours-box p{
  text-align: center;
}